body {
background: linear-gradient(to right bottom, #e1ede9, #daf0e7);

background-size: 100%;
}

.btn-xl {
    width:600px;
    height: 120px;
    padding: 10px 140px;
    font-align: center;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;


}

#waga {
background-image: None;

}


#button-row {
display: flex;
flex-wrap: wrap;

}