

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;

}
#dodaj-skladnk-form{
margin: 5px 0px 0px 0px !important;
padding:0px  !important;
}

.custom-input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px ;
  font-size: 16px;
}
.custom-input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
custom-input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


.li-inline{
color: red;
width:180px;
display:inline;
float:left;
}

.list-group-flush{ /*to jakby nie działa */


}

.list-group-skl{ /*karta ogółem */

border: 1px solid #333333;
  border-radius: 10px;
  overflow: hidden;}




ul{
  padding-left: 0rem
}

}
.my-card-header{ /*górna część karty parametrów składnika*/
background-color: red !important;
}


span {
padding:3px;
}
.flex-container{ /*dolna część karty parametrów składnika */

display:flex;
flex-direction: row;
flex-wrap: wrap;
float:left;
padding: 5px;
width: 50rem;
border-radius:0px;
background: #545794;
}



.flex-item{ /* pojedynczy parametr składnika*/
background: #bcc77f;
margin:5px;
color: black;
margin: 2px;
padding:7px;
border-radius:5px;
font-size: 20px;
flex-wrap: nowrap;
display:inline;
float:center;
}





.form-body{
background: #adbfa4;
max-width: 500px;
width: 100%;
margin: 20px auto;
padding: 30px;
box-shadow : 1px 1px 1px rgba(0,0,0,0.125);
line-heigth: 1.5;
}


.form-body .title{
font-size: 24px;
font-weight: 700;
margin-bottom: 25px;
color:#3b4038;
text-transform: uppercase;
text-align: center;
}

.form-body .form-form{
width:100%;
}

.form-body .form-form .input-field{
margin-bottom: 5px;
display: flex;
allign-items: center;
}

.form-body .form-form .input-field label{
width: 200px;
margin-right: 10px;
allign: center;
}

.form-body .form-form .input-field input{
width: 50%;
outline: none;
border : 1px solid #474f43;
fonti-size: 15px;
padding: 8px 5px;
border-radius: 5px;
transition: all 0.3s ease;

}
.form-body .form-form .input-field .select-field{
position: relative;
width: 50%;
heigth: 30px;
}

.form-body .form-form .input-field select:select{
border: 2px solid black;
background: black;
}

.form-body .form-form .input-field select:before{
content: '';
position: absolute;
border: 8px solid;
border-color: red tranparent tranparent tranparent;
border: 2px solid black;
background: black;

}

.form-body .form-form .input-field input:focus,
.form-body .form-form .input-field select:focus{
border: 1px solid yellow;}

.flex-containerparam{

display:flex;
flex-direction: row;
flex-wrap: wrap;
float:left;
border-radius:0px;
border-style: double;

}
.flex-item-param{ /* stylizacja nagłówka receptury (tam gdzie data)*/
background: #d1c3ae;
margin:5px;
color: black;
margin: 2px;
padding:6px;
border-radius:5px;
font-size: 20px;
flex-wrap: nowrap;
display:inline;
float:center;


}



.button-card{/* pozycjonuje przycisku  w karce składnika po prawej stronie receptury(usuń,edytuj)*/
float: right;
margin: 2px;
}


.check-box{/* pozycjonuje label wzgędem checkbox w formularzu tworzącym recepturę*/
margin-right: 10px;
margin-left: 1px;
}



.form-body-add select{ /* koloruje pole select  w formularzu tworzącym recepturę*/
background-color: #e4ede4;
}


.dropdown-item{
font-size: 18px;}

.obl-ol-class{
font-family: 'Open Sans', sans-serif;
font-size: 25px;
line-height: 1.6;}

#id-modal-content{
 width: 1000px;
  margin: auto;
}

#id-modal-et-content {
 width: 800px;
  margin: auto;
  text-align: left !important;

}

.MathJax_Display {
  text-align: left !important;
}

#p{
margin:0px;
padding: 20px 0px 0px 0px;
}

#wybiezSkladnikButton{
margin: 5px;}

.oblOlSkladniki td{

margin: 0.0rem;
width: 15%;
font-size: 1.2rem;
font-family: sans-serif;
}

#dane{
margin: 2rem;
}

body #modal-header{
color: green;
}